In [11]:
from barcode_key_converter import barcode_key_converter_within
import pandas as pd
import os
import numpy as np

In [12]:
codebook

,0,1,2,3,4,5,6,7,8,9,...,22,23,24,25,26,27,28,29,30,31
gene name,,,,,,,,,,,,,,,,,,,,,
4930544g11rik,0,0,0,3,0,0,0,0,3,0,...,0,0,0,0,0,0,0,0,0,3
abl1,3,0,0,0,0,0,0,0,0,3,...,0,0,0,0,0,0,0,0,0,3
abl2,0,0,0,0,0,0,3,0,0,0,...,0,0,0,0,0,0,0,0,3,0
acvr1b,0,3,0,0,0,0,0,0,0,0,...,0,0,0,3,0,0,0,0,0,0
adcy4,0,0,0,0,0,0,0,3,0,0,...,3,0,0,0,0,0,0,3,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
fake58,3,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,3
fake59,0,0,0,0,0,0,3,0,0,0,...,3,0,0,0,3,0,0,0,0,0
fake60,0,0,0,0,0,0,3,0,0,3,...,0,0,0,3,0,0,0,0,0,0
fake61,0,0,0,0,0,3,0,0,0,3,...,0,0,0,0,0,0,3,0,0,0
fake62,0,0,0,3,0,0,0,0,0,0,...,0,3,0,0,0,0,0,0,0,3

In [13]:
#cdbk_combos = [list(old_codebook['hyb1']),list(old_codebook['hyb2']),list(old_codebook['hyb3']),list(old_codebook['hyb4'])]
#np.asarray(cdbk_combos).T

In [14]:
path_source = '/home/hsekhon/shaan/Arun_Run_New/data_TF/codebooks_converted/'

codebooks = ['channel_640.csv','channel_561.csv','channel_488.csv']
channel = [1,2,3]

for cdbk,channel in zip(codebooks,channel):
    old_codebook = pd.read_csv(path_source+cdbk).rename(columns={'gene_name':'gene name'}).set_index('gene name')
    codebook = barcode_key_converter_within(old_codebook,num_hybs=32,num_barcodes = 4, ch=channel)
    codebook.to_csv(path_source+cdbk.replace('.csv','') + '_converted'+'.csv')

In [36]:
pd.concat([pd.read_csv('codebooks_converted/'+codebooks[0]),
           pd.read_csv('codebooks_converted/'+codebooks[1])]).to_csv('codebooks_converted/channel_3_all.csv',index=False)

In [34]:
codebook

,0,1,2,3,4,5,6,7,8,9,...,26,27,28,29,30,31,32,33,34,35
gene name,,,,,,,,,,,,,,,,,,,,,
fake0,3,0,0,0,0,0,0,0,0,3,...,0,0,0,3,0,0,0,0,0,0
fake1,3,0,0,0,0,0,0,0,0,3,...,0,0,0,0,0,3,0,0,0,0
fake2,3,0,0,0,0,0,0,0,0,3,...,0,0,0,0,0,0,3,0,0,0
fake3,3,0,0,0,0,0,0,0,0,3,...,0,0,0,0,0,0,0,3,0,0
fake4,3,0,0,0,0,0,0,0,0,3,...,0,0,0,0,0,0,0,0,3,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
fake553,0,0,0,0,0,0,0,0,3,0,...,0,3,0,0,0,0,0,0,0,0
fake554,0,0,0,0,0,0,0,0,3,0,...,0,0,0,0,3,0,0,0,0,0
fake555,0,0,0,0,0,0,0,0,3,0,...,0,0,0,0,0,0,0,3,0,0
fake556,0,0,0,0,0,0,0,0,3,0,...,0,0,0,0,0,0,0,0,3,0
fake557,0,0,0,0,0,0,0,0,3,0,...,3,0,0,0,0,0,0,0,0,3